@use "../abstracts/mixins" as m;
@use "../reset/reset" as x;
@use "../abstracts/colors" as c;
@use "../abstracts/typography" as t;
@use "../abstracts/responsive" as r;

.about{
    padding: 0 2rem; //padding top and bottom
    text-align: center;
    
    //600px
    @include r.respond(tablet){
        margin: 6rem auto 0; //margin top/bottom, left/right
    }

    //1200px
    @include r.respond(desktop){
        background: c.$white;
        color: c.$black;
        max-width: 43.75rem;
        position: relative;
        text-align: left;
        display: grid;
        grid-template-areas: 
        "image title"
        "image subtitle"
        "image desc"
        "image logo";
    }

    //Hello, I'm Tommy
    .about-title{
        font-size: clamp(t.$fs-medium, 6vw, t.$fs-extralarge);
        font-weight: t.$fw-extrabold;

        //1200px
        @include r.respond(desktop){
            height: fit-content;
            margin: 1.25rem 0 0 -12rem; //This moves the text to the left (over the image)
            background-color: c.$white;
            z-index: 1;
            padding: 1rem;
            line-height: 1;
            display: grid;
            place-items: center;
            box-shadow: x.$box-shadow;
            grid-area: title;

        }
    }

    //Founder of TM-FX
    .about-subtitle{
        font-weight: t.$fw-medium;
        font-size: clamp(1rem, 4.7vw, t.$fs-medium);
        
        //1200px
        @include r.respond(desktop){
            margin-bottom: -1rem;
            grid-area: subtitle;
        }
    }

    //Image of Tommy
    .about-img{
        border: 5px solid c.$white;
        width: 18.75rem;
        height: 31.25rem;
        margin: 0 auto;
        object-fit: cover;
        box-shadow: x.$box-shadow;
        margin-block: 2rem; //margin top and bottom
        @include m.imagejpg(portrait);
        
        //1200px
        @include r.respond(desktop){
            margin: 0 1rem 0 0;
            grid-area: image;
        }
    }

    .about-desc{ //Since becoming a Forex Trader....
        max-width: 40ch;
        margin: 0 auto;

        //1200px
        @include r.respond(desktop){
            max-width: 30ch;
            margin: 0;
            grid-area: desc;
        }
    }

    .logo-group{ 
        display: none;

        //1200px
        @include r.respond(desktop){
            display: grid;
            place-items: center;
            background-color: c.$accent-clr;
            color: c.$white;
            padding: 1.5rem 1.5rem 2rem;
            line-height: 1;
            position: relative;
            box-shadow: x.$box-shadow;
            grid-area: logo;

            //White border around logo wrapper
            &::before{
                content: "";
                width: calc(100% - 0.625rem);
                height: calc(100% - 0.625rem);
                position: absolute;
                top: 5px;
                left: 5px;
                outline: 5px solid c.$white;
            }

            //TM-FX
            .logo-title{
                font-size: t.$fs-extralarge;
                font-weight: t.$fw-extrabold;
            }

            //FUNDING MADE SIMPLE
            .logo-subtitle{
                font-size: 0.94rem;
                font-weight: t.$fw-medium;
                text-transform: uppercase;
            }
        }
    }
}