@use "../abstracts/colors" as c;
@use "../abstracts/responsive" as r;
@use "../abstracts/typography" as t;

.accounts{

    margin: 0 auto 6rem;
    width: min(calc(100vw - 3.75rem), 73em);

    .accounts-title{
        font-size: clamp(1rem, 3vw + 0.2rem, 1.5rem);
        text-transform: uppercase;
        font-weight: 800;
        margin-bottom: 1.5em;
        text-align: center;

        @include r.respond(desktop){
            // text-align: left;
        }
    }

    .accounts-cards{

        color: c.$white;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(15rem, 17.5rem));
        justify-content: center;
        gap: 1em;

        .account-card{

            text-align: center;
            background-color: c.$accent-clr;
            padding: 2em 1em;

            span, .account-card__fee{
                font-weight: t.$fw-extrabold;
            }

            .account-card__heading,
            .account-card__subheading,
            .account-card__fees{
                text-transform: uppercase;    
            }

            .account-card__funding,
            .account-card__desc-group,
            .account-card__fees{
                margin-bottom: 1.5em;
            }

            .account-card__subheading, .account-card__heading{
                font-size: 0.9em;
                font-weight: t.$fw-bold;
            }

            .account-card__funding{

                .account-card__heading{
                    margin-bottom: 0.5em;
                    font-size: 1.1em;

                    span{
                        font-size: 1.5rem;
                    }
                }
            }

            .account-card__criteria{

                .account-card__desc-groups{

                    .account-card__desc-group{

                        .account-card__desc{

                            // background-color: red;
                            font-size: 0.9em;
                        }

                    }
                }
            }

            .account-card__fees{
                
                .account-card__fee{
                    margin-bottom: 0.5em;
                    font-size: 1.1em;
                }

                p:nth-of-type(2){
                    font-weight: t.$fw-bold;
                    font-size: 0.9em;
                }
            }
        }

    }

}