@use "../abstracts/colors" as c;
@use "../abstracts/typography" as t;

.funding{

    text-align: center;
    // color: c.$white;
    
    .form-group{
        // background: c.$accent-clr;
        width: min(calc(100% - 2rem), 900px);
        // padding: ;
        margin: 0 auto;
        
        .form-title{
            text-transform: uppercase;
            font-weight: t.$fw-bold;
        }

        form{
            // background-color: yellow;
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(15rem, 17.5rem));
            gap: 4rem;
            justify-content: center;
            margin: 2rem auto;

            input,
            select{
                border: 1px solid c.$accent-clr;
            }

            input{
                padding: 0.9rem;
                color: c.$accent-clr;

            }

            select{
                padding: 0.85rem;
                background-color: c.$white;
                // border: none
            }

            ::placeholder{
                color: c.$black;
            }
        }

        .form-disclaimer{
            width: min(calc(100% - 1rem), 70ch);
            margin: 0 auto;
            font-weight: t.$fw-medium;
        }

    }
}