@use "../abstracts/colors" as c;
@use "../abstracts/mixins" as m;
@use "../abstracts/responsive" as r;

.hero {
    display: none;
    overflow: hidden;

    @include r.respond(desktop){ //1000px

        display: flex;
        position: relative;
        text-transform: uppercase;

        .logo{
            position: absolute;
            top: 20px;
            left: 30px;
            color: c.$accent-clr;
            font-size: 3em;
            text-transform: uppercase;
            font-weight: 800;
        }

        .hero-text{
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            margin-left: 13.8em;

            span:first-of-type{ //FR
                margin-left: .9em;
            }

            span{
                @include m.imagewebp(hero-img);
                background-clip: text;
                -webkit-background-clip: text;
                color: transparent;
            }

            .hero-title, .hero-subtitle{
                font-weight: 800;
            }

            .hero-title{ //FREE YOURSELF
                font-size: 10rem;
                font-size: clamp(1rem, 12vw + 12rem, 10rem);
                line-height: 0.9;
                color: c.$white
            }

            .hero-subtitle{
                font-size: 1.75rem;
            }

        }
        
        .hero-left{ //WHITE BLOCK
            width: 576px;
            max-width: 576px;
            height: 100vh;
            background-color: c.$white;
            position: absolute;

            .page-tag{ //HOME
                font-weight: 800;
                text-transform: uppercase;
                font-size: 1.1em;
                letter-spacing: 1px;
                writing-mode: vertical-rl;
                position: relative;
                margin-top: 70%;
                left: 30px;
                // transform: translateY(100%);
        
                &::before{ //LONG BLACK BAR COMING FROM "HOME"
                    content: "";
                    width: 4px;
                    height: 300px;
                    background: linear-gradient(to bottom, c.$black, rgba(0, 0, 0, 0));
                    position: absolute;
                    top: 65px;
                    left: 50%;
                    transform: translateX(-50%);
                }
            }
        }

        .hero-right-img{
            width: 70%;
            height: 100vh;
            margin-left: auto;
            @include m.imagewebp(hero-img);
        }

    }
}