@use "../abstracts/colors" as c;
@use "../abstracts/mixins" as m;
@use "../abstracts/responsive" as r;

header{

    width: 100%;
    height: 4em;
    background-color: c.$white;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: absolute;

    @include r.respond(desktop){ //600px
        display: none;
    }

    .mobile-logo{
        color: c.$accent-clr;
        font-size: 2em;
        text-transform: uppercase;
        font-weight: 800;
        padding-left: 1em;
    }

}

.mobile-hero{

    @include r.respond(desktop){ //600px
        display: none;
    }

    .mobile-hero-img{
        @include m.imagewbp-fade(hero-img);
        width: 100%;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        
        .hero-mobile-text{
            
            text-align: center;
            margin-bottom: 3em;
            font-weight: 800;

            .hero-mobile-title, .hero-mobile-subtitle{
                color: c.$white;
                text-transform: uppercase;
            }

            .hero-mobile-title{ //YOURSELF
                font-size: 2.85em;
                line-height: 0.8;
                margin-bottom: 1rem;

                @include r.respond(tablet){ //600px
                    font-size: 3.625rem;
                }

                span{ //FREE
                    font-size: 6.25rem;

                    @include r.respond(tablet){ //600px 
                        font-size: 8rem;
                    }
                }
            }

            .hero-mobile-subtitle{
                font-size: 1.25rem;

                @include r.respond(tablet){ //600px 
                    font-size: 1.6rem;
                }
            }
        }

    }

}