@use "../abstracts/typography" as t;
@use "../abstracts/responsive" as r;

.simple{
    width: min(calc(100vw - 3.75rem), 41.25rem);
    margin: 10rem auto 6rem;
    text-align: center;
    
    @include r.respond(tablet){
        margin-top: 0;
    }
    
    .simple-title, .simple-desc{
        margin-bottom: 1.5rem;
    }
    
    .simple-title{
        // font-size: t.$fs-large;
        font-size: clamp(1.25rem, 3.9vw + 0.2rem, 1.875rem);
        font-weight: t.$fw-extrabold;
        text-transform: uppercase;
    }
    
    .simple-desc{

        margin-inline: auto;
        
        @include r.respond(desktop){
            max-width: 60ch;
        }
    }

    .simple-disclaimer{
        margin-bottom: 2rem;
        font-weight: t.$fw-medium;
    }

}