@use "../abstracts/colors" as c;
@use "../abstracts/typography" as t;

.thankyou{

    padding: 0 2rem; //Padding Up/Down Left/Right

    text-align: center;

        //THANK YOU FOR CHOOSING TM-FX / WE WILL CONTACT YOU SHORTLY
        .thankyou-title,
        .thankyou-subtitle{
            text-transform: uppercase;
            margin-bottom: 3rem;
        }
        
        //THANK YOU FOR CHOOSING TM-FX
        .thankyou-title{
            font-weight: t.$fw-medium;
            font-size: clamp(1.2rem, 5vw, 2rem);
        }


}