@use "../abstracts/colors" as c;
@use "../abstracts/responsive" as r;
@use "../abstracts/typography" as t;

.welcome{
    margin: 6rem auto;
    width: min(calc(100vw - 3.75rem), 34.375rem);

    //1200px
    @include r.respond(desktop){
        display: flex;
        align-items: center;
        width: min(calc(100vw - 3.75rem), 50rem);
    }

    .big-welcome{

        display: none;
        
        @include r.respond(desktop){
            text-transform: uppercase;
            background-color: c.$accent-clr;
            margin-right: 4rem;
            padding: 1em 0;
            display: grid;
            place-items: center;
        }

        //WELCOME
        .big-welcome-title{
            font-size: 7.5rem;
            font-weight: 800;
            color: c.$white;
            writing-mode: vertical-lr;
        }

    }
       
    .welcome-text{

        //TO THE TM-FX FUNDED TRADING PROGRAM / WELCOME TO THE TM-FX FUNDED TRAD.. / STOP TRADING SMALL ACCOUNTS AND.. / OUR FUNDING STARTS FROM $13,000....
        .title, .mobile-welcome, .first-subtitle, .second-subtitle{
            text-transform: uppercase;
            margin-bottom: 1.75rem;
        }
        
        //TO THE TM-FX FUNDED TRADING PROGRAM
        .title{
            display: none;
            
            @include r.respond(desktop){
                display: block;
                font-size: t.$fs-large;
                font-weight: 800;
            }
        }
    
        //WELCOME TO THE TM-FX FUNDED TRAD.. / OUR FUNDING STARTS FROM $13,000....
        .mobile-welcome, .second-subtitle{ 
            font-weight: 800;
        }
        
        //WELCOME TO THE TM-FX FUNDED TRAD.....
        .mobile-welcome{
            background-color: c.$accent-clr;
            color: c.$white;
            padding: .5rem;
            font-size: clamp(1.25rem, 3.9vw + 0.2rem, 1.875rem);
            
            @include r.respond(desktop){
                display: none;
            }
        }
    
        //STOP TRADING SMALL ACCOUNTS AND.. / OUR FUNDING STARTS FROM $13,000....
        .first-subtitle, .second-subtitle{
            font-size: clamp(1rem, 3vw + 0.2rem, 1.5rem);

            @include r.respond(desktop){
                font-size: t.$fs-medium;
            }
        }
    
        //At TM-FX we fund up to $2,000,000 to trade...
        .desc{
            font-size: clamp(0.8125rem, 3vw + 0.2rem, 1.22rem);
            line-height: 1.7;
            margin-bottom: 1.75rem;

            @include r.respond(desktop){
                font-size: 1.5rem;
            }
        }

    }

}