@use "../abstracts/colors" as c;
@use "../abstracts/transitions" as tr;
@use "../abstracts/responsive" as r;
@use "../abstracts/typography" as t;

.btn{
    padding: 1rem 1.25rem 1rem 1.25rem ;
    text-transform: uppercase;
    background-color: c.$accent-clr;
    border: none;
    font-weight: t.$fw-extrabold;
    color: c.$white;
    cursor: pointer;
    transition: tr.$transition-bg-clr;
    font-size: 1em;
    
    &:hover, &:focus-visible{
        background-color: c.$accent-hover-clr;
    }
}

.btn__hero{
    font-size: 1em;

    //1200px
    @include r.respond(desktop){
        display: none;
    }
}


.btn__funded{
    background-color: c.$dark-grey;
    font-weight: t.$fw-medium;

    &:hover{
        background-color: c.$white;
        color: c.$accent-clr;
    }
}

.btn__ready{
    font-size: 0.8em;
    padding: 0.625rem 1.25rem 0.625rem 1.25rem;
}