@use "../abstracts/colors" as c;
@use "../abstracts/typography" as t;
@use "../abstracts/responsive" as r;

footer{
    background-color: c.$white;
    color: c.$accent-clr;
    padding-block: 1.5rem;
    text-align: center;
    font-size: t.$fs-extrasmall;
    
    //1200px
    @include r.respond(desktop){
        background-color: c.$accent-clr;   
        color: c.$white;
    }
    
    //Facebook Logo
    svg{
        fill: c.$accent-clr;
        width: 3.125rem;
        height: 3.125rem;
        margin-bottom: 0.5rem;
        
        //1200px
        @include r.respond(desktop){
            fill: c.$white;
        }
    }
}

.home-footer,
.get-funded-footer,
.guidelines-footer{
    margin-top: 6rem;
}

.thankyou-footer{
    margin-top: 8rem;
}

.thankyou-footer,
.get-funded-footer{

    color: c.$accent-clr;   
    background-color: c.$white;

    //Facebook Logo
    svg{
        fill: c.$accent-clr;
        width: 3.125rem;
        height: 3.125rem;
        margin-bottom: 0.5rem;
    }

}