@use "../abstracts/colors" as c;
@use "../abstracts/typography" as t;

.logo-wrapper{
    background-color: c.$accent-clr;
    color: c.$white;
    padding-block: 1.5rem;
    text-align: center;
    text-transform: uppercase;
    
    .header-logo{ //TM-FX
        font-size: t.$fs-extralarge;
        font-weight: t.$fw-extrabold;
    }
    
    .header-subtitle{ //FOREX MADE SIMPLE
        font-weight: t.$fw-medium;
    }
}

.guidelines-header{
    margin-bottom: 3rem;
}

.get-funded-header{
    margin-bottom: 6rem;
}

.thankyou-header{
    margin-bottom: 8rem;
}