@use "../abstracts/colors" as c;
@use "../abstracts/typography" as t;

.logo-wrapper{
    background-color: c.$accent-clr;
    color: c.$white;
    padding-block: 1.5rem;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 3rem;
    
    .guidelines-logo{ //TM-FX
        font-size: t.$fs-extralarge;
        font-weight: t.$fw-extrabold;
    }
    
    .guidelines-subtitle{ //FOREX MADE SIMPLE
        font-weight: t.$fw-medium;
    }
}