
//------------ Padding ------------//

$mobile-body-padding: 0 2em;
$tablet-body-padding: 0 3em;
$desktop-body-padding: 0 5em;


//------------ Margin ------------//

$hero-banner-margin: 1em;


//------------- Text -------------//

$lineheight-p: 1.7;
$lineheight-t: 1.4;

$letterspacing-t: -3px;